/* Assuming you've downloaded and included the Poppins font files */
@font-face {
    font-family: 'Poppins';
    src: url('poppins.woff2') format('woff2'), /* Adjust the path to your font file */
         url('poppins.woff') format('woff');
    /* Add more src lines if you have different font file formats */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 15px;   
}
*::selection{
    background-color: rgb(255, 0, 0);
}
.header{
    height: 70px;
    width: 100%;
    padding: 0px 8%;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 10%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}
.logo > p{
    text-transform: uppercase;
}

.main_manu{
    padding-top: 20px;
    font-size: 15px;
}
.main_manu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.main_manu li{
    display: inline-block;
    position: relative;
}
.main_manu li a{
    display:block;
    padding: 12px 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    text-transform: capitalize;
}
.main_manu ul li:hover a{
    background-color:#dfdfdf ;
}
.utils{
    width: 20%;
    height: 70px;
}
.nav-links{
    padding-top: 25px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-link{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.banner{
    width: 100%;
    height: 80vh;
    /* background-color: gray;*/
} 
.slide{
    width: 100%;
    height: 100%;
    background-color: rgb(234, 234, 234);
    background-image: url('https://images.unsplash.com/photo-1580828343064-fde4fc206bc6?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 25%;
}
.slide-details{
    width: 27%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap:25px;  
}
.pp::first-letter{
    font-size: 20px;
    font-weight: bold;
}

.slide-details > h1{
    font-size: 70px;
    text-transform:capitalize;
}
.btn{
    padding: 12px 25px;
    background-color: black;
    color: #ffffff;
    border: 1px solid black;
    text-transform: uppercase;
    border-radius: 30px;
    color: white;
}

.featured{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.featured-box-1{
    width: 33%;
    height: 570px;
    position: relative;
}
.featured-box-2{
    width: 33%;
    height: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.featured-box-2-box-1{
   width: 100%;
   height: 280px;
   position: relative;
}
.featured-box-2-box-2{
    width: 49.5%;
    height: 280px;
    position: relative;
}
.featured-box-2-box-3{
    width: 49.5%;
    height: 280px;
    position: relative;
}
.featured-box-3{
    width: 33%;
    height: 570px;
    background-color: rgb(0, 0, 0);
    position: relative;
}
.bg-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg-image > img{
    width: 100%;

    transition: .4s;
}
.featured-box-1:hover  img,.featured-box-3:hover  img{
    transform: scale(1.1);
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    padding: 5%;
    align-items: flex-end;
    justify-content: center;
    
}
.btn-white{
    background-color: #fff;
    border: 1px solid white;
    color: black;
    box-shadow: 0 0 5px gray;
    z-index: 10;
}
.featured-box-1:hover  img,
.featured-box-3:hover  img,
.featured-box-2-box-1:hover  img,
.featured-box-2-box-2:hover  img,
.featured-box-2-box-3:hover  img
{
    transform: scale(1.1);
}
.Products{
    width: 100%;
    padding: 30px 20%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.section-title{
    font-size: 35px;
}
.products-list{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.product{
    width: 24.5%;
    height: 420px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 18px;
    font-weight: bold;
}
.product:hover .main-image{
    transform: scale(1.2);
    opacity: 0;
}
.product:hover .overlay-image{
    margin-top: 0px;
}
.product:hover .effect-image{
    opacity: 1;
    transform: scale(1.2);
}
.product-image{
    width:100% ;
    height: 370px;
    position: relative;
    overflow: hidden;
}
.product-image  img{
    width: 100%;
}
.main-image{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .3s;
    transition-delay: .1s;
}

.effect-image{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transform: scale(1.2);
    transition-delay: .1s;
    transition: .3s;
}

.overlay-image{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
    padding: 10%;
    transition: .3s;
}
.product-details{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.categories{
    width: 100%;
    padding: 30px 20%;
    display: flex;
    justify-content: space-between;
}
.category{
    width: 32.5%;
}
.cat-image{
    width: 100%;
    height: 400px ;
    overflow: hidden;
}
.cat-image > img{
    width: 100%;
   transition: .3s;
}
.category:hover img{
    transform: scale(1.2);
}
.instra{
    width: 100%;
    padding: 30px 20%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.posts{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.posts-image{
    width: 16%;
    height: 170px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.posts-image img{
    width: 100%;
    transform: .3s;
}
.posts-image i{
    position: absolute;
    font-size: 30px;
    margin: 25px 30px 10px 5px;
    z-index: 10;
}
.posts-image:hover img{
    transform: scale(1.2);
}
.footer{
    width: 100%;
    padding: 30px 20%;
    display: flex;
    justify-content: space-between;
    color: #1d1d1d;
}
.footer-section
{
  width: 31%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    text-transform: capitalize;  
    list-style-type: none; 
}
.footer-list li a{
    color: black;
    text-decoration: none;  
}
.but ul li::first-letter{
    font-size: 20px
}
.socials{
    
    margin-top: 20px;
    margin-top: 20px;
    display: flex;
    font-size: 20px;
    column-gap: 20px;
}
.border-list{
    border-top: 1px solid #000;
    margin-top: 10px;
    width: 70%;
}
.li{
    list-style-type: none;
}
.lolo{
    
}

input{
    height: 40px;
    width: 65%;
    border-radius: 30px;
    border: 1px solid #525151;
    text-indent: 15px;
   
}
.sub{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
@media (max-width:1260px) {
    .header{
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        width: max-content;
    }
    .main_manu{
        width: 100%;
    }  
    .utils{
        width: 40%;  
           
    }
    .nav-links{
        align-items: center;
    }
    .banner{
        height: 250px;
    }
    .slide{
        background-size: cover;
        padding-left: 5%;
    }
    .slide-details{
        width: 80%;
    }
    .slide-details > h1{
        font-size: 25px;
    }
    .btn{
        font-size: 10px;
    }
    .featured{
        flex-direction: column;
        row-gap: 5px;
    }
    .featured-box-1{
        width: 100%;
        height: 250px;
    }
    .featured-box-1 img,
    .featured-box-3 img{
        margin-top: -100px;
    }
    .featured-box-2{
        width: 100%;
        height: 300px;
        row-gap: 5px;
    }
    .featured-box-3{
        width: 100%;
        height: 400px;
    }
    
    .featured-box-2-box-1,.featured-box-2-box-2,.featured-box-2-box-3{
        height: 147.5px;
    }
    .featured-box-3{
         width: 100%;
         height: 250px;
     }
     .Products{
        padding: 30px 5%;
        align-items: flex-start;
        overflow-x: scroll;
     }
     .products-list{
        width: 290%;
     }
     .categories{
        padding: 30px 5%;
        flex-direction: column;
        row-gap: 5px;
     }
     .category{
        width: 100%;
     }
     .instra{
        padding: 30px 5%;
     }
     .posts{
        flex-wrap: wrap;
        row-gap: 15px;
     }
     .posts-image{
        width: 49%;
     }
     .footer{
        padding: 30px 5%;
        flex-direction: column;
        row-gap: 20px;
     }
     .footer-section{
        width: 100%;
        
     }

}
